body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiPaper-elevation1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2% 10%;
}

.MuiInputBase-input {
  text-align: center;
}

.MuiTableCell-root h1 {
  text-align: center;
}

.MuiTableRow-root {
  vertical-align: baseline !important;
}

.MuiTableCell-stickyHeader {
  text-align: center !important;
}

.pagination-container {
  padding: 20px 20px;
  text-align: right;
  button {
    margin-left: 10px;
  }
}

.MuiFormControl-root {
  height: 50px !important;
}

.MuiCard-root {
  width: 350px;
}

.MuiCardContent-root {
  margin-left: 6%;
  p {
    margin: 10px 0;
  }
}

.MuiCardActions-root {
  flex-direction: column;
}

.MuiButton-colorInherit {
  .MuiButton-label {
    color: white;
  }
}

.MuiTablePagination-toolbar {
  .MuiTypography-body2 {
    font-size: 16px;
  }
}
